@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to bottom right, #FDB9AE, #D3FFEE); /* 원하는 색상으로 변경하세요 */
}

@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

@keyframes hologramColor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* text drag Highlight */
::selection {
  background-color: #ffa19f3e;
}

/* text highlighter effect */
.highlighter {
  @apply bg-gradient-to-r from-yellow-200 via-yellow-400 to-yellow-600;
  background-position: 0 calc(100% - 2px);
  background-size: 0 14px;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
}

/* 스크롤바 전체 컨테이너 */
.dropdown-scrollbar::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

/* 스크롤바 핸들 */
.dropdown-scrollbar::-webkit-scrollbar-thumb {
  background: #A4E3D6; /* 스크롤바 핸들의 색상 */
  border-radius: 4px; /* 스크롤바 핸들의 모서리 둥글기 */
}

/* 스크롤바 핸들:hover */
.dropdown-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2BBAB4; /* 스크롤바 핸들의 색상: hover 상태 */
}

/* 스크롤바 트랙 */
.dropdown-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤바 트랙의 색상 */
  border-radius: 4px; /* 스크롤바 트랙의 모서리 둥글기 */
}

/* 랜딩 페이지 타이틀 */
.main {
  transition: all 0.5s;
  -webkit-text-stroke: 4px #EEFCFB;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 8rem;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 6px 6px 0px #2BBAB4;
  cursor: pointer;
}

.main:hover {
  /* font-variation-settings: "wght" 100, "ital" 0; */
  text-shadow: 10px 10px 0px #2BBAB4,
    15px 15px 0px #FFA19F,
    20px 20px 0px #E88AB1,
    25px 25px 0px #6C7DCE,
    45px 45px 10px #00709D;
}

/* 글자 올라오는 애니메이션 */
@keyframes riseBounce {
  0% { transform: translateY(100%); opacity: 0; }
  80% { transform: translateY(-10%); opacity: 1; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes fallBounce {
  0% { transform: translateY(0); opacity: 1; }
  20% { transform: translateY(-10%); opacity: 1; }
  100% { transform: translateY(100%); opacity: 0; }
}

.letter {
  display: inline-block;
  opacity: 0; 
  animation: riseBounce 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) forwards;
  cursor: pointer;
}

.letter-fall {
  animation: fallBounce 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) forwards;
}
