@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-width: 8px;
  --scrollbar-radius: 4px;
  --scrollbar-track-color: #f1f1f17d;

  /* red 스크롤바 색상 */
  --red-scrollbar-thumb-color: #FDB9AE;
  --red-scrollbar-thumb-hover-color: #FF7465;

  /* gray 스크롤바 색상 */
  --gray-scrollbar-thumb-color: #c0c0c0;
  --gray-scrollbar-thumb-hover-color: #c0c0c0;

  /* teal 스크롤바 색상 */
  --teal-scrollbar-thumb-color: #A4E3D6;
  --teal-scrollbar-thumb-hover-color: #2BBAB4;
}

body {
  background-image: linear-gradient(to bottom right, #FDB9AE, #D3FFEE);
  font-family: 'SUITE-Regular';
}

@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@keyframes hologramColor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* text drag Highlight */
::selection {
  background-color: #ffa19f3e;
}

/* text highlighter effect */
.highlighter {
  @apply bg-gradient-to-r from-yellow-200 via-yellow-400 to-yellow-600;
  background-position: 0 calc(100% - 2px);
  background-size: 0 14px;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
}


/* 스크롤 바 */
.scrollbar::-webkit-scrollbar,
.gray-scrollbar::-webkit-scrollbar,
.dropdown-scrollbar::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.scrollbar::-webkit-scrollbar-thumb,
.gray-scrollbar::-webkit-scrollbar-thumb,
.dropdown-scrollbar::-webkit-scrollbar-thumb {
  border-radius: var(--scrollbar-radius);
}

.red-scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

.red-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

.gray-scrollbar::-webkit-scrollbar-thumb {
  background: var(--gray-scrollbar-thumb-color);
}

.gray-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--gray-scrollbar-thumb-hover-color);
}

.teal-scrollbar::-webkit-scrollbar-thumb {
  background: var(--dropdown-scrollbar-thumb-color);
}

.teal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--dropdown-scrollbar-thumb-hover-color);
}

.scrollbar::-webkit-scrollbar-track,
.gray-scrollbar::-webkit-scrollbar-track,
.dropdown-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: var(--scrollbar-radius);
}

/* 모든 스크롤바에 회색 스크롤바 스타일 적용 */
::-webkit-scrollbar {
  width: var(--scrollbar-width); /* 스크롤바의 너비 */
}

::-webkit-scrollbar-thumb {
  background: var(--gray-scrollbar-thumb-color); /* 스크롤바 핸들의 색상 */
  border-radius: var(--scrollbar-radius); /* 스크롤바 핸들의 모서리 둥글기 */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-scrollbar-thumb-hover-color); /* 스크롤바 핸들의 색상: hover 상태 */
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color); /* 스크롤바 트랙의 색상 */
  border-radius: var(--scrollbar-radius); /* 스크롤바 트랙의 모서리 둥글기 */
}


/* 랜딩 페이지 타이틀 */
.main {
  transition: all 0.5s;
  -webkit-text-stroke: 4px #EEFCFB;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 8rem;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 6px 6px 0px #2BBAB4;
  cursor: pointer;
}

.main:hover {
  /* font-variation-settings: "wght" 100, "ital" 0; */
  text-shadow: 0px 0px 0px #2BBAB4,
    10px 10px 0px #FFA19F,
    18px 18px 0px #E88AB1,
    25px 25px 0px #6C7DCE,
    45px 45px 10px #00709D;
}

/* 랜딩 페이지 입장하기 버튼 */
.enter {
  transition: all 0.5s;
  -webkit-text-stroke: 0.5px #EEFCFB;
  color: transparent;
  font-family: "SUITE-Regular";
  text-shadow: 1px 2px 0px #0d746e;
  cursor: pointer;
}

.enter:hover {
  box-shadow:
    8px 8px 0px #FFA19F,
    15px 15px 0px #E88AB1,
    23px 23px 0px #6C7DCE,
    40px 40px 10px #00709D;
}

/* 글자 올라오는 애니메이션 */
@keyframes riseBounce {
  0% { transform: translateY(100%); opacity: 0; }
  80% { transform: translateY(-10%); opacity: 1; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes fallBounce {
  0% { transform: translateY(0); opacity: 1; }
  20% { transform: translateY(-10%); opacity: 1; }
  100% { transform: translateY(100%); opacity: 0; }
}

.letter {
  display: inline-block;
  opacity: 0; 
  animation: riseBounce 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) forwards;
  cursor: pointer;
}

.letter-fall {
  animation: fallBounce 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) forwards;
}

@keyframes draw {
  
  100% {
    stroke-dashoffset: 0;
  }
  
}

/* 뱃지 홀로그램 */
/* @keyframes hologram {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
} */

@keyframes hologram {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  75% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}
